<div class="h-screen flex justify-center items-center">
  <main>
    <h1 class="text-2xl font-bold">Note App Sign Up</h1>
    <p>Create a new user account</p>
    <div class="mt-6">
      <label for="txt-fullname">Full Name</label>
      <input [(ngModel)]="value"
             class="input"
             id="txt-fullname" type="text"
             placeholder="Enter your full name here">
    </div>
    {{value}}
    <div class="mt-2">
      <label for="txt-email">Email</label>
      <input class="input"
             id="txt-email" type="email"
             placeholder="Enter your email here">
    </div>
    <div class="mt-2">
      <label for="txt-password">Password</label>
      <input class="input"
             id="txt-password" type="password"
             placeholder="Enter your password here">
    </div>
    <div class="mt-2">
      <label for="txt-confirm-password">Confirm Password</label>
      <input class="input"
             id="txt-confirm-password" type="password"
             placeholder="Enter your password again here">
    </div>
    <div class="mt-4">
      <button class="button">Sign Up</button>
    </div>
    <div class="mt-4">
      <a class="font-bold text-blue-700
hover:text-blue-600" routerLink="/sign-in">
        Have an account? Sign In
      </a>
    </div>
  </main>
</div>
