<div class="h-screen flex justify-center items-center">

  <main class="border-1 p-4 rounded-2xl">
    <h1 class="text-2xl font-bold">Note App Sign-Up</h1>
    <p>Create a new user account</p>
    <div class="mt-6">
      <label for="txt-fullname">Full Name</label>
      <input class="input" id="txt-fullname" type="text" placeholder="Enter your fullname here">
    </div>
    <div class="mt-2">
      <label for="txt-email" >Password</label>
      <input class="input"  id="txt-email" type="email" placeholder="Enter your email here">
    </div>
    <div class="mt-2">
      <label for="txt-password" >Password</label>
      <input class="input"  id="txt-password" type="password" placeholder="Enter your password here">
    </div>
    <div class="mt-2">
      <label for="txt-confirm-password" >Confirm Password</label>
      <input class="input"  id="txt-confirm-password" type="password" placeholder="Enter your password again here">
    </div>
    <div class="mt-4">
      <button class="button">Sign Up</button>
    </div>
    <div class="mt-4">
      <a class="font-bold text-blue-700" routerLink="/sign-in">Have an account? Sign in</a>
    </div>
  </main>

</div>
