<div class="h-screen flex justify-center items-center">

  <main class="border-1 p-4 rounded-2xl">
    <h1 class="text-2xl font-bold">Note App Sign-In</h1>
    <p>Enter your login credentials to continue</p>
    <div class="mt-2">
      <label for="txt-email" >Email</label>
      <input class="input" id="txt-email" type="email" placeholder="Enter your email here">
    </div>
    <div class="mt-2">
      <label for="txt-password" >Password</label>
      <input class="input"  id="txt-password" type="password" placeholder="Enter your password here">
    </div>
    <div class="mt-4">
      <button class="button">Log in</button>
    </div>
    <div class="mt-4">
      <a class="font-bold text-blue-700" routerLink="/sign-up">Create account</a>
    </div>
  </main>

</div>
